<h2>E A T - D A - B U R G E R</h2>
<p>_ ______________________________ _</p>

<h3>YOUR BURGERS</h3>

    <ul class="list-group">
        {{#each burgers}}
        {{#unless this.devoured}}
        <li class="list-group-item">

            <p>{{this.name}}</p>


            <form action="api/burgers/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button type="submit">Devour it!</button>
            </form>

        </li>
        {{/unless}}
        {{/each}}
    </ul>



<h3>DEVOURED BURGERS</h3>
     
            <ul class="list-group">
                {{#each burgers}}
                {{#if this.devoured}}
                <li class="list-group-item">
                    <p>{{this.name}}</p>
                </li>
                {{/if}}
                {{/each}}
            </ul>

        <p>_ ______________________________ _</p>

        <h3>ADD A BURGER</h3>
         <form action="/burgers" method="POST">
      <input type="text" id="name" name="name" placeholder="Enter Your Burger Here">
      <button type="submit" class="addBurgerButton">Add The Burger</button>
    </form>
        <p>_ ______________________________ _</p>