<div class="grid">

<header>
<h2>E A T - D A - B U R G E R</h2>
<br>
<p>_ ______________________________ _</p>
<img src="public\assets\img\bwburger.png">
</header>


 


<aside class="sidebar-left">
<h3>YOUR BURGERS</h3>
<br>
    <ul class="list-group">
        {{#each burgers}}
        {{#unless this.devoured}}
        <li class="list-group-item">

            <p>{{this.name}}</p>


            <form action="api/burgers/devoured/{{this.id}}?_method=PUT" method="POST">
            
                <input type="hidden" name="devoured" value="true">
                <button type="submit" id="devourBurger">Devour it!</button>

            </form>

        </li>
        {{/unless}}
        {{/each}}
    </ul>
</aside>

<article>
<h3>ADD A BURGER</h3>
    <form action="api/burgers" method="POST">
      <input type="text" id="name" name="name" placeholder="Enter Your Burger Here">
      <button type="submit" class="addBurger">Add The Burger</button>
    </form>
</article>


<aside class="sidebar-right">
<h3>DEVOURED BURGERS</h3>
     
            <ul class="list-group">
                {{#each burgers}}
                {{#if this.devoured}}
                <li class="list-group-item">
                    <p>{{this.name}}</p>
                </li>
                {{/if}}
                {{/each}}
            </ul>
</aside>

<footer>
    Footer
  </footer>
        
</div>
        