* {
    margin: 0;
    padding: 0;
}
.grid {
    display: grid;
    grid-template-columns: 400px 300px 400px;
    grid-gap: 1em;
  }
  
  header, footer {
    grid-column: 1 / 4;
  }

.section {
    text-align: center;
}

#title {
    line-height: 1;
    font-size: 25pt;
}

#burger-logo {
    height: 150px;
    width: 150px;
}

#grill-logo {
  height: 45px;
  width: 45px;
}


#burger-add {
    height: 100px;
    width: 100px;
}
  
.sidebar-left {
    height: auto;
}

.sidebar-right {
    height: auto;
}

  @media all and (max-width: 700px) {
    aside,
    article {
      grid-column: 1 / 4;
    }
  }
  
  /* Demo Specific Styles */
  body {
    margin: 0 auto;
    max-width: 56em;
    min-width: 1100px;
    padding: 1em 0;
    font-family: 'Bevan', cursive;
    font-size: 10pt;
    background-color: rgb(44,47,50);
    background-image: url("../images/woodbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  header,
  aside,
  article,
  footer {
    background: #e2d6c2;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* height: 25vh; */
  }

  header {
      height: 125px;
      align-items: center;
  }

  footer {
      height: 50px;
      align-items: center;
  }

  /* article {
    align-items: center;
  } */

  aside, article {
      padding: 10px;
      height: 400px;
  }

  a {
      text-decoration: none;
      color: black;
  }

  a:hover {
    color: rgb(146, 4, 4);
  }

  /* #footer-links:hover {
    color: rgb(146, 4, 4);
  } */

  a:visited {
      color: rgb(146, 4, 4);
  }

  li {
      list-style: none;
  }

  #burger-list {
      color: rgb(146, 4, 4);
      line-height: 1;
      padding-top: 5px;
  }

  #name {
      line-height: 1.5;
      background: none;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid rgb(0, 0, 0);
  }

  #name:focus {
    outline: none;
    background: none;
  }

  .addBurger {
    /* border: 1px solid black; */
    border: none;
    margin-left: 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-family: 'Bevan', cursive;
    background: none;
  }

  .change-burger {
      /* border: 1px solid black; */
      border: none;
      margin-left: 10px;
      padding-left: 2px;
      padding-right: 2px;
      font-family: 'Bevan', cursive;
      background: none;
      /* color: rgb(146, 4, 4); */
  }

  .delete-burger {
    /* border: 1px solid black; */
    border: none;
    margin-left: 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-family: 'Bevan', cursive;
    background: none;
  }

  li {
      margin-bottom: 10px;
  }

  #check:hover {
    color: rgb(146, 4, 4);
  }

  #trash:hover {
    color: rgb(146, 4, 4);
  }

  #utensils:hover {
    color: rgb(146, 4, 4);
  }
